/* IMPOSTAZIONI GENERALI */
body {
  font-family: "Poppins", sans-serif;
  margin: 20px;
  background-image: url(../img/sfondo.png);
  background-size: 150%;
  background-position-y: -300px;
  background-position-x: -132px;
}

.bold {
  color: #a6256c;
  font-weight: bold;
}

.link {
  font-weight: bold;
  font-size: 1.2rem;
  color: #009bc9;
}
/* HEADER */
.header {
  background: rgb(32, 131, 145);
  background: linear-gradient(
    to top,
    rgba(32, 131, 145, 1) 0%,
    rgba(0, 155, 191, 1) 49%
  );
  box-shadow: 0px 3px 6px 0px black;
  margin-bottom: 30px;
}

.header .header-container,
.header-list {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  list-style: none;
}

.header .header-container {
  margin-bottom: 30px;
}

.header .logo-epicode {
  padding: 5vh;
  padding-bottom: 3vh;
}

.header .header-list {
  margin-bottom: 5vh;
  line-height: 1.4rem;
  font-size: 1.2rem;
}

.header .header-list .header-list-item {
  text-decoration: none;
  color: white;
}
/* MAIN */

.main {
  background-color: white;
  box-shadow: 0px 3px 6px 0px black;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
/* ELEMENTI NEL MAIN - ARTICLE */

.main .section-1 .article-title {
  font-size: 2.2rem;
  margin-bottom: 25px;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: -1px;
}

.main .section-1 .article-writer {
  color: grey;
  font-size: 1.2rem;
  margin-bottom: 25px;
  line-height: 1.5;
}

.main .section-1 .article-paragraph {
  margin-bottom: 25px;
  font-size: 1.25rem;
  line-height: 1.4;
}

.main .section-1 .list {
  margin-bottom: 10px;
  margin-left: 35px;
  font-size: 1.25rem;
  line-height: 1.4;
}

.main .section-1 .list .list-code {
  background-color: #dfe8e9;
  border: 1px solid #a5a6a5;
  border-radius: 7px;
}

.main .section-1 .paragraph-title {
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
  margin-bottom: 25px;
  margin-top: 25px;
}

/* TABELLE */

.main .section-1 .article-table .article-table-caption {
  font-weight: bold;
  font-style: italic;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.main .section-1 .article-table .article-table-head {
  background-color: #4767b9;
  color: white;
  height: 80px;
  font-size: 1.2rem;
  line-height: 1.5;
}

.main .section-1 .article-table .article-table-head .article-table-header {
  border: 1px solid white;
  width: 250px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 25px;
}

.main .section-1 .article-table .article-table-head .last-table-cells {
  border-bottom: 2px solid #4767b9;
}
.main .section-1 .article-table .article-table-body {
  background-color: white;
  color: black;
}

tr:nth-child(even) {
  background-color: #dfe8e9;
}

#paragraph-after-table {
  margin-top: 40px;
}

.main .section-1 .article-paragraph .link {
  font-weight: bold;
  color: #009bc9;
}

.main .section-1 .article-video {
  border-radius: 30px;
  margin-bottom: 25px;
}

/* NOVITA' */

.main .section-2 .section-2-container {
  background-color: #dfe8e9;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #a5a6a5;
}

.main .section-2 .section-2-container .article-novità {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.main .section-2 .section-2-container .article-paragraph {
  margin-bottom: 25px;
  font-size: 1.25rem;
  line-height: 1.4;
}

/* FORM */

.form {
  padding-bottom: 20px;
}

.form-style {
  width: 200px;
  height: 35px;
  border: 0;
  border-bottom: dashed;
}
.button-style {
  width: 90px;
  height: 35px;
  color: white;
  background-color: rgb(27, 104, 205);
  font-size: 1.1rem;
}

/* ELEMENTI NELL' ASIDE */

.aside {
  background-color: white;
  box-shadow: 0px 3px 6px 0px black;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.aside .article-related {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.aside .section-2-container {
  background-color: #dfe8e9;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
  margin-bottom: 25px;
  border: 1px solid #a5a6a5;
}

.aside .section-2-container .related {
  margin-top: 10px;
  margin-bottom: 30px;
}

.aside .section-2-container .data-related {
  text-align: right;
}
/* FOOTER */
